<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Best cookie recipe with calories</h5>

            <div class="mb-3">
                <label for="caloriesInput" class="form-label">Calories</label>
                <input type="number" class="form-control" id="caloriesInput" v-model="calories" >
                <span v-if="calories > 775">The cookie cannot contain more calories than 775</span>
                <span v-if="calories < 470">The cookie cannot contain less calories than 470</span>
            </div>
            <p v-if="isFetching">Het recept ophalen duurd even</p>

            <div class="row" v-for="(recipe, name, index) in winningRecipe" v-bind:key="index">
                <div class="col-md-6">
                    {{ name }}
                </div>
                <div class="col-md-6">
                    {{ recipe }} teaspoons
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Total points
                </div>
                <div class="col-md-6">
                    {{ maxPoints }} Points
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CalorieCookieComponent',
        data() {
            return {
                calories: 500,
                winningRecipe: [],
                maxPoints: 0,
                isFetching: false
            }
        },
        created() {
            this.fetchRecipe();
        },
        methods: {
            fetchRecipe(calories = 500) {
                this.isFetching = true;
                this.$http.get(`/api/recipe/cookie/calories?calories=${calories}`).then((response) => {
                    this.isFetching = false
                    this.winningRecipe = response.data.data.winning_recipe;
                    this.maxPoints = response.data.data.max_score;
                });
            }
        },
        watch: {
            calories: function(val) {
                this.fetchRecipe(val);
            }
        }
    };
</script>

<style scoped>

</style>
